.form-ad {
    margin-left: auto;
    margin-right: auto;

}

.modal-title {
    color: $primary-text-color;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 12px;
}

.form-modal {
    display: flex;
    flex-direction: column;
    position: relative;

}

.form-modal:not(:last-child) {
    margin-bottom: 10px;
}

.form-modal label {
    color: $secondary-text-color;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
}

.modal-input {
    height: 40px;
    margin: 0;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: $title-text-color;
    transition: border 250ms $timing-function;
}

.modal-input:focus,
.comment:focus,
.modal-input:hover,
.comment:hover {
    outline: 1px solid $accent-color;
    border: none;
    cursor: pointer;
}

.modal-input:focus~.form-svg,
.modal-input:hover~.form-svg {
    fill: $accent-color;
    cursor: pointer;
}

.form-svg {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 12px;
    transition: fill 250ms $timing-function;
}

textarea {
    resize: none;
    height: 120px;
    color: $secondary-text-color;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}

.form-checkbox {
    position: relative;
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;

}

.form-checkbox label {
    color: $secondary-text-color;
    font-weight: 400;
    line-height: 1.71;
    margin-left: 8px;

}

.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.form-icon {
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 15px;
    left: 12px;
    background-color: $primary-bg-color;
    border: 2px solid $primary-text-color;
    border-radius: 2px;
    top: 50%;
    transform: translateY(-50%);
}

.checkbox:checked+.form-icon {
    background-color: $accent-color;
    background-image: url(../img/icon\ check.svg);
    background-size: contain;
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-position: center;
    border-color: $accent-color;
}

.checkbox:focus+.form-icon {
    border: 2px solid $accent-color;
}

.form-link {
    color: $accent-color;
    text-decoration: underline;
}

.form-click {
    display: flex;
    justify-content: center;
}

.form-btn {
    width: 200px;
    height: 50px;
    padding: 10px 52px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    text-align: center;
}

.form-ad button {
    color: $title-text-color;
    background-color: $accent-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
}