.section__title {
    display: none;
    visibility: hidden;
    margin-bottom: 0;
}

.features {
    display: flex;

    &__title {
            margin-top: 0;
            margin-bottom: 10px;
    
            font-size: $body-font-size;
            text-transform: uppercase;
    
            color: $primary-text-color;
            font-weight: 700;
            line-height: 1.14;
            
        }

    &__list {
        width: 270px;
        margin-right: 30px;
        margin-bottom: 0;
    
        &:nth-child(4n) {
            margin-right: 0;
        }
    }

    &__text {
        margin-top: 0;
        margin-bottom: 0;
    
        color: $secondary-text-color;
        line-height: 1.71;
    }
    
}

.features-icon {
    display: flex;
    padding: 0;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: $secondary-bg-color;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;

}

